<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bradenhart.hcdemoui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.ChallengeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AllChallengesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.ChallengeInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.GameSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.TestActivity"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>

        <activity android:name=".activity.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
