<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bradenhart.hcdemoui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.ChallengeActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AllChallengesActivity"/>

        <activity
            android:name=".activity.ChallengeInfoActivity"/>

        <activity
            android:name=".activity.GameSettingsActivity"/>

        <activity
            android:name=".activity.HelpFeedbackActivity"/>

        <activity android:name=".activity.BaseActivity"
            android:theme="@style/AppTheme.Base"/>



        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="sMrjZ5qLBuAKwe1nttGfqvbV90NNsQSxucpFsjxo" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="MC38jIHOIV6hRn1NkDejqHnFfnah429mUsQnR9g6" />

    </application>

</manifest>
